*,
body {
  overflow-x: hidden;
}
.hero-content h1,
.hero-content h2 {
  color: var(--hero-text-color);
}
#topBtn,
header {
  position: fixed;
}
.hero-banner,
.mobile {
  display: flex;
  position: relative;
}
#about,
#skills {
  background-color: var(--bg-color1);
  color: #fff;
}
*,
body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
}
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav ul li a,
p {
  font-size: 1.3em;
}
nav ul li,
nav ul li a {
  padding: 10px;
}
form label,
p {
  font-weight: 100;
}
.hero-banner,
.hero-content,
nav {
  justify-content: center;
}
.hero-content,
h2 {
  text-align: center;
}
#pic1,
#pic3 {
  margin-left: 0;
  float: left;
}
.card-container,
.hero-banner,
.mobile,
.skills,
form,
nav,
nav ul,
section {
  display: flex;
}
* {
  padding: 0;
}
:root {
  --main-bg-color-body: #f6f1f1;
  --footer-bg-color: #178bac;
  --button-color: black;
  --button-color: rgb(0, 183, 255);
  --header-bg-color2: rgb(25, 25, 25);
  --hero-text-color: #399dfb;
  --header-bg-color: #ffffff;
  --bg-color1: rgb(21, 21, 21);
}
body {
  background-color: var(--main-bg-color-body);
  height: auto;
  background: var(--main-bg-color);
}
footer {
  background-color: var(--footer-bg-color);
  color: #fff;
  padding: 20px;
}
header.scrolled {
  background: var(--header-bg-color2);
  transition: background-color 0.5s ease-in-out;
}
header {
  top: 0;
  margin-top: 0;
  left: 0;
  right: 0;
  background: var(--header-bg-color);
  z-index: 5;
}
@media screen and (max-width: 900px) {
  header {
    background: 0 0;
  }
}
.hero-banner {
  background: 0 0 / cover no-repeat;
  width: 100%;
  height: 75vh;
}
@keyframes moveHeroBanner {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.hero-content {
  background-image: url(/images/heaven-bg.jpg);
  animation: 100s linear infinite moveHeroBanner;
  width: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .hero-content {
    background-image: url(/images/heaven-bg-mobile.jpg);
    animation: 100s linear infinite moveHeroBanner;
    align-items: center;
  }
}
.hero-text {
  margin-top: 15%;
}
#card-section {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin-bottom: 12em;
  margin-left: 10%;
  margin-top: 12%;
}
@media (max-width: 768px) {
  #card-section {
    grid-template-columns: 1fr;
    margin-bottom: 6em;
  }
  #card-section img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.hero-content h1 {
  font-size: 4em;
}
nav ul {
  list-style: none;
}
nav ul li a {
  color: #00d0ff;
  text-decoration: none;
  font-size: x-large;
}
h2 {
  padding-top: 100px;
  font-size: 50px;
  color: var(--heading-color);
  box-shadow: inset;
}
section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#pic1 {
  background: url(images/pic1.jpg);
}
#pic2 {
  background: url(images/pic2.jpg);
}
#pic3 {
  background: url(images/pic3.jpg);
}
p {
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 80%;
  margin: 0 auto;
}
.skills {
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 430px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
}
.form-background {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 500px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
}
#about,
#skills,
.card img,
form {
  width: 100%;
}
form {
  flex-direction: column;
}
form input[type='email'],
form input[type='submit'],
form input[type='text'],
form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 0.8em;
}
form input[type='submit'] {
  background-color: var(--button-color);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.card-container {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.card {
  max-width: 640px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.card img {
  height: auto;
  display: block;
}
@media (max-width: 640px) {
  .card {
    width: 100%;
  }
}
.card:hover {
  filter: brightness(100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.card-text {
  margin: 10px;
}
#topBtn {
  display: none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: 0;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: opacity 0.3s, visibility 0.3s ease-in-out;
}
#topBtn:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 800px) {
  #topBtn {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #topBtn {
    display: none;
  }
}
@media (max-width: 900px) {
  nav ul {
    display: none;
  }
  ul.responsive {
    display: block;
    background-color: #fff;
    color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
.mobile {
  z-index: 999;
  justify-content: center;
  width: 40px;
  height: 40px;
}
#burger {
  margin-top: 12px;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
@media (min-width: 900px) {
  #mobileBtn {
    display: none;
  }
}
#about {
  padding: 15vh;
}
#divider {
  padding: 25vh;
}
