* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color-body: #F6F1F1;
  --footer-bg-color: #19A7CE;
  --button-color: black;
  --button-color: rgb(0, 183, 255);
  --footer-bg-color: #006581;
}

body {
  font-family: "Sofia Sans", sans-serif;
  background-color: var(--main-bg-color-body);
  height: auto; /* Set the height to full viewport height */
  margin: 0;
  overflow-x: hidden;
  background: var(--main-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
  color: #ffffff; 
  padding: 20px; 
  text-align: center; 
}

header.scrolled {
  background: #000;
  transition: background-color 0.5s ease-in-out;
}

header {
  margin-top: 0;
  position: sticky;
  top: 0;
  color: #ffffff;
  z-index: 5;
}

.hero-banner {
  display: flex;
  justify-content: center;
  background: no-repeat; 
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; 
}

/* Animation for moving hero banner background */
@keyframes moveHeroBanner {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.hero-content {
  background-image: url(/images/heaven.jpg);
  animation: moveHeroBanner 100s linear infinite;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.center h1 {
  text-align: center;
  margin-top: 10em;
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 2.5em;
}

.hero-content p {
  font-size: 1.2em;

}

/* desktop navigation */

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: rgb(0, 208, 255);
  text-decoration: none;
  padding: 10px;
  font-size: x-large;
}

h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  color: rgb(0, 183, 255);
  box-shadow: inset;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pic {
  width: 600px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}


#pic1 {
  background: url(images/pic1.jpg);
  margin-left: 0;
  float: left;
}

#pic2 {
  background: url(images/pic2.jpg);
  margin-left: 0;
  float: right;
}

#pic3 {
  background: url(images/pic3.jpg);
  margin-left: 0;
  float: left;
}

p {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 800px;
  margin: 0 auto;
}

.skills {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Form */
.form-background {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 500px;
  height: auto;
  padding: 20px;
  margin: 0 auto; /* Center the form horizontally */

  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set form width to 100% of its parent element */
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"],
form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
  filter: brightness(90%);
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.05);
  filter: brightness(100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* Top Button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: opacity 0.3s, visibility 0.3s ease-in-out;
}


#topBtn:hover {
  background-color: black;
}

/* Show the button when the user scrolls down */
@media screen and (max-width: 800px) {
  #topBtn {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  #topBtn {
    display: none;
  }
}

/* Mobile navigation */

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  .mobile {
    display: block;
  }

  ul.responsive {
    display: block;
    background-color: white;
    color: #333;
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
  }

  ul.responsive li {
    display: block;
    margin: 1rem;
  }

  header.bg .mobile {
    color: #333;
  }
}

;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

@media (min-width: 800px) {
  #mobileBtn {
    display: none;
  }
}